// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#layer1 {
	width: 80%;
	height: 720px;
	margin: 0px auto;
	/*border: outset 5px darkgrey;*/
}