// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	text-align: center;
}

ul.videos li {
	display: inline-block;
 	/*float: left;*/
 	width: 10em;
 	margin-bottom: 1em;
 	cursor: pointer;

}
ul.videos, #playlist ul
{
  margin-bottom: 1em;
  padding-left : 0em;
  margin-left: 0em;
  list-style: none;
}